<h1>Editing rubyraildb</h1>

<%= render "form", rubyraildb: @rubyraildb %>

<br>

<div>
  <%= link_to "Show this rubyraildb", @rubyraildb %> |
  <%= link_to "Back to rubyraildbs", rubyraildbs_path %>
</div>
